/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/target/
/bin/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/.settings/
/.classpath
/.project
.DS_Store
/src/test/java/META-INF/MANIFEST.MF

/.idea/*.xml
/.idea/libraries/*.xml
/*.iml
/classes/
.ideaDataSources/
*.ipr
*.iws
*.ids
*.log
/mvnw
/*.cmd

xk-order.iml
xk-order.properties
xk-order.xml
module_xk-order.xml

本地仓库地址/
/xk-order/log_dir_IS_UNDEFINED
xk-order-core/target/
